<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student page</title>
</head>
<body>
    <h1 style="color:blue">Student page</h1>
    <a href="/">Main page</a>
    <form action="/register_lunch" method="post">
        Name : <input type="text" name="txtName">
        <br>
        Choosing Food 
        <select name="food">
            {{#each foods}}
                <option value="{{this}}">{{this}}</option>
            {{/each}}
        </select>
        <br>
        <input type="submit" value="submit!">
    </form>
    <hr>
    <a href="/">Main Page</a>
    </a>
</body>